.reset{
    position: relative;
    top: 10px;
    left: 475px;
}

.resetButton{
    border: 1px solid #07075c;
    padding: 20px 40px;
    border-radius: 15px;
    background-color: #07075c;
    color: white;

}