*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h2{
    font-family: "Cambria Math", sans-serif;
    font-weight: bold;
    font-size: 2em;
    position: relative;
    top: 20px;
    left: 460px;
    color: #0b0b3e;
}
.paragraaf{
    border: 2px #400b0b dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px 200px;
}
span{
    font-size: 2em;
    font-family: "Courier New", "Segoe Script";
}

